html {
    box-sizing: border-box;
    font-size: 16px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #2C2141;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
}

.card {
    max-width: 624px;
    width: 100%;
    height: 320px;
    background-color: #F8F8F8;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
}


.card__wraper img {
    border-radius: 50%;
    max-width: 148px;
    max-height: 148px;
    margin-right: 2rem;
}
@media (max-width: 640px) {
    .card__wraper img {
        max-width: 80px;
        max-height: 80px;
    }

}


.user__header {
    margin: 0px;
    font-weight: normal;
    font-size: 2.25rem;
}

.user__ocupation p {
    margin: 0px;
    font-style: italic;
    color: #C4C4C4;
    font-size: 1.12rem;
    margin-bottom: 2rem;
}

.user__about p {
    line-height: 1.25rem;
}

.user--about__strong {
    color: #ED6D05;
    font-weight: normal;
}


.user__socials {
    margin-top: 3.12rem;
}
.user__tags {
    color: #E20613;
    font-weight: normal;
}

@media (max-width: 640px) {
    html {
        font-size: 12px;
    }